{contentType css}
body {
	font-family: 'Fira Sans', sans-serif;
	margin: auto;
	max-width: 50em;
}

h1 {
	text-align: center;
}

ul {
	padding: 0
}

li {
	background-color: #eeeeec;
	color: black;
	display: block;
	list-style-type: none;
	margin: 0.2em 0;
	overflow: hidden;
	padding: 0.3em;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.badge {
	background: #2e3436;
	border-radius: 0.5em;
	color: white;
	font-size: 0.6em;
	padding: 0.05em 0.3em;
	text-decoration: none;
	vertical-align: middle;
}

.starred::after {
	background-color: #d74e48;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
	color: white;
	content: "★";
	padding: 0.1em 0.1em 0.3em;
	position: absolute;
	right: 0.5em;
	top: 0;
}
