{contentType css}
body {
	font-family: 'Fira Sans', sans-serif;
	margin: auto;
	max-width: 50em;
}

h1 {
	text-align: center;
}

ul {
	padding: 0
}

li {
	background-color: #eeeeec;
	color: black;
	display: block;
	list-style-type: none;
	margin: 0.2em 0;
	overflow: hidden;
	padding: 0.3em;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.badge {
	background: #2e3436;
	border-radius: 0.5em;
	color: white;
	font-size: 0.6em;
	padding: 0.05em 0.3em;
	text-decoration: none;
	vertical-align: middle;
}
