<!doctype html>
<html>
<head>
<title>{$title}</title>
<style>
{include 'style.css'}
</style>
<style id="dynamic"></style>
</head>
<body>
<h1>{$title}<a n:if="count($tasks) > 0" href="." class="badge">{count($tasks)}</a></h1>
{if count($tasks) > 0}
<ul>
	<li n:foreach="$tasks as $task" n:if="!isset($task['completed']) || !$task['completed']" n:class="implode(' ', $task['tags']), $task['starred'] ? starred">{$task['title']|formatTask|noescape}</li>
</ul>
{else}
<p>There are no tasks yet.</p>
{/if}
<script>
{include 'hash.js'}
</script>
</body>
</html>
